@media (max-width: 1440px) {
    .logo {
        img {
            width: 100px;
        }
    }

    .header-title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }

    .menu {
        padding-top: 10px;
    }

    .header-search {
        padding-bottom: 8px;
    }

    .header-date {
        font-size: 60px;

        span {
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }

    .header-arrows {
        left: 130px;
    }

    .surf-box-inner {
        min-height: 650px;
    }
}

@media (max-width: 1366px) {
    .header-aside {
        position: absolute;
        border-right: none;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        text-align: left;
        display: flex;
    }

    .menu {
        padding-top: 0;
    }

    .menu-list {
        text-align: center;

        li {
            display: inline-block;
        }

        a {
            padding: 15px;
        }
    }

    .header-search {
        padding: 33px 15px 15px;
    }

    .header-date {
        padding: 15px;
    }

    .header-location {
        margin-top: 42px;
    }

    .slider-item-info-title {
        font-size: 65px;
    }

    .header-arrows {
        left: 20px;
        bottom: 20px;
    }
}

@media (max-width: 1340px) {
    .header-map {
        svg {
            width: 500px;
            height: 250px;
        }
    }

    .slider-arrows {
        top: 20px;
        right: 20px;
    }

    .slider-arrows-left {
        right: 60px;
    }
}
@media (max-width: 1287px) {
    .slider-map .slick-list{
        overflow: hidden;
    }
    .slider-dots-circle{
        box-shadow: none;
    }
}
@media (max-width: 1250px) {
    .slider-map {
        max-width: 1000px;
        min-height: 515px;
    }

    .slider-map .slick-list {
        min-height: 515px;
    }

    .slider-dots--1 {
        top: 266px;

        .slider-dots-content {
            transform: translateX(0);

            &::before {
                left: 0;
            }
        }
    }

    .slider-dots--2 {
        top: 232px;
    }

    .slider-dots--3 {
        top: 253px;
    }

    .slider-dots--4 {
        top: 390px;
    }

    .slider-dots--5 {
        top: 180px;
    }

    .slider-dots--6 {
        top: 449px;
        left: -85px;
    }

    .slider-dots--7 {
        top: 312px;
        left: -85px;
    }

    .slider-dots--8 {
        top: 397px;
    }
}

@media (max-width: 1102px) {
    .slider-map {
        background-image: none;
        max-width: 100%;
        min-height: 280px;
    }

    .slider-dots-circle {
        display: none;
    }

    .slider-dots-content {
        display: block;

        &::before {
            display: none;
        }
    }

    .slider-dots {
        position: static;
    }

    .slider-map {
        .slick-list {
            overflow: hidden;
            min-height: 280px;
        }
        .slick-track{
            min-height: 280px;
        }
    }
    .slider-dots-content,
    .slider-dots--8 .slider-dots-content{
        transform: translateX(0);
    }
    .slider-dots-content{
        width: 285px;
        padding: 28px 31px 0 32px;
    }
    .slider-map .slick-current .slider-dots-content{
            background: rgba(#ccc,0.7);
    }
}

@media (max-width: 1040px) {
    .header-arrows {
        display: none;
    }

    .menu {
        background-color: #000;
        z-index: 22;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        transition: all .5s;

        &.active {
            transform: translateX(0);
        }
    }

    .menu-btn {
        display: flex;
    }

    .header-search {
        padding: 40px 15px 15px;
    }

    .slider-item-info {
        position: absolute;
        right: 20px;
        bottom: 17px;
        text-align: right;
    }

    .slider-item-info-text {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
    }

    .slider-item-info-subtitle {
        margin-bottom: 5px;
    }

    .headline-left::before {
        width: 50px;
    }

    .slider-item-info-title {
        font-size: 55px;
        line-height: 55px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .slider-dotshead {
        right: 0;
        left: 10px;
        margin: 0 auto;
        bottom: 5px;
    }

    .dots-box {
        width: 125px;
    }

    .dots-box-number {
        font-size: 18px;
    }

    .dots-box-name {
        line-height: 18px;
    }
    .surf-subtitle{
        padding-right: 20px;
    }
}

@media (max-width: 960px) {
    .slider-dotshead {
        display: none;
    }
}
@media (max-width: 720px){
    .title{
        span{
            font-size: 100px;
            padding-bottom: 80px;
            padding-left: 10px;
        }
    } 
    .surf-slider .slider-arrows{
        top: 20px;
    }
    .surf-slider{
        padding-top: 65px;
    }
    .surf,
    .holder{
        padding: 70px 0 120px;
    }
}
@media (max-width: 520px){
    .headline-left{
        letter-spacing: 2.33333px;
    }
    .subtitle-head{
        font-size: 32px;
        padding-right: 0;
    }
}
@media (max-width: 460px) {
    .header-aside {
        display: block;
        text-align: center;
        padding-right: 0;
        height: 100vh;
    }

    .header-search {
        padding: 15px 0 5px;
    }

    .header-date {
        font-size: 50px;
        padding: 0;
        line-height: 45px;

        span {
            font-size: 12px;
        }
    }

    .header-location {
        margin-top: 0;
    }

    .header-title {
        display: none;
    }
}
@media (max-width: 425px){
    .slider-map .slider-dots-content,
    .slider-map .slick-current .slider-dots-content{
        width: 250px;
        padding: 28px 15px 0;
    }
}
@media (max-width: 374px){
    .slider-map .slider-dots-content,
    .slider-map .slick-current .slider-dots-content{
        display: block;
        width: 200px;
        padding: 28px 10px 0;
    }
}